body {
	margin: 0;
	box-sizing: border-box;
	background-color: #ddd4c6;
}

main {
	max-width: 1000px;
	min-width: 400px;
	margin: 3em auto;
	padding: 1em 2em;
	display: flex;
	justify-content: center;
	gap: 2em;
	/* border: 1px solid #000; */
}

.title {
	font-size: 2rem;
	margin: 0 0 0.5em;
}

/* Item */
.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin: 0 auto;
	place-items: center;
}

.item-section {
	position: relative;
}

.item-img {
	width: 12rem;
	border-radius: 10px;
	border: 2px solid transparent;
}

.item-category {
	color: #696969;
	font-size: 0.75rem;
	font-weight: 500;
	margin-top: 2em;
}

.item-name {
	font-size: 0.8rem;
}

.item-price {
	color: #b05236;
	font-size: 0.9rem;
}

.addtocart-btn {
	outline: transparent;
	border: 1px solid #9c9c9c;
	padding: 0.4em 1.8em;
	display: flex;
	align-items: center;
	gap: 0.3em;
	border-radius: 25px;
	font-family: inherit;
	font-weight: 600;
	font-size: 0.75rem;
	position: absolute;
	bottom: 28%;
	left: 15%;
	cursor: pointer;
}

.addtocart-btn:hover,
.addtocart-btn:focus {
	opacity: 0.9;
}

.addtocart-section {
	outline: transparent;
	border: 1px solid #b05236;
	background-color: #b05236;
	color: #fdfdfd;
	padding: 0.4em 1.8em;
	display: flex;
	align-items: center;
	gap: 2em;
	border-radius: 25px;
	font-family: inherit;
	font-size: 0.75rem;
	position: absolute;
	bottom: 28%;
	left: 20%;
	cursor: pointer;
}

.decrement {
	border: 1px solid #fdfdfd;
	padding: 0.5em 0.2em;
	border-radius: 50%;
}

.increment {
	border: 1px solid #fdfdfd;
	padding: 0.2em;
	border-radius: 50%;
}

.decrement:hover,
.decrement:focus,
.increment:hover,
.increment:focus {
	background-color: #b97d6b;
}

.red-border {
	border: 2px solid #b05236;
}

/* Cart */

.cart-section {
	width: 300px;
	background-color: #eceaea;
	height: fit-content;
	padding: 1em 3em;
	margin: 1em 0;
	border-radius: 8px;
}

.cart-section h2 {
	font-size: 1.2rem;
	color: #b05236;
	margin-bottom: 1em;
}

.cart-info {
	font-size: 0.75rem;
	font-weight: 600;
	color: rgb(110, 53, 27);
}

/* CART ITEM */

.cart-item-name {
	font-size: 0.8rem;
}

.cart-item div {
	display: flex;
	gap: 0.8em;
}

.cart-item-count,
.cart-item-price,
.cart-item-total {
	font-size: 0.75rem;
	font-weight: 500;
	opacity: 0.8;
	margin: 0.3em 0;
}

.cart-item-count {
	color: #b05236;
	font-weight: 800;
}

hr {
	opacity: 0.4;
}

.total-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.2em 0;
}

.total-info h5 {
	font-weight: 500;
}

.confirm-order-btn {
	width: 100%;
	padding: 0.8em 1em;
	background-color: #b05236;
	color: #fdfdfd;
	border: transparent;
	outline: transparent;
	font-family: inherit;
	border-radius: 25px;
	cursor: pointer;
}

.confirm-order-btn:hover,
.confirm-order-btn:focus {
	opacity: 0.95;
}

@media (max-width: 720px) {
	.items {
		grid-template-columns: repeat(2, 1fr);
	}

	.item-img {
		width: 12rem;
	}
}

@media (max-width: 500px) {
	.items {
		grid-template-columns: 1fr;
	}

	.item-img {
		width: 18rem;
	}
}

@media (max-width: 900px) {
	main {
		flex-direction: column;
	}
}
